
body {
    background-image: url("bg.jpg");
}

.content, .content2 {
	float: left;
	width: 480px;
}



#header h1 {
	color: black;
	text-align: center;
	padding: 30px;
	font-family: 'Gaegu', cursive;
	font-size: 70px;
}

.nav ul li {
	color: black;
	text-align: center;
	font-family: 'Gaegu', cursive;
	font-size: 60px;
	list-style: none;
}

a {
    color: black;
    text-decoration: none;
}
