
body {
    background-image: url("bg.jpg");
}

.content, .content2 {
	float: left;
	width: 480px;
}



#header ul {
	color: black;
	text-align: center;
	padding: 30px;
	font-family: 'Gaegu', cursive;
	font-size: 70px;
}

.nav p {
	color: black;
	text-align: center;
	font-family: 'Gaegu', cursive;
	font-size: 70px;
}

a {
    color: gray;
    text-decoration: none;
}
