
body {
    background-image: url("bg.jpg");
}

.content, .content2 {
	float: left;
	width: 480px;
}



#header h1 {
	color: black;
	text-align: center;
	padding: 2px;
	font-family: 'Gaegu', cursive;
	font-size: 65px;
}


  .nav li {
	  float: left; /* Gets all list items in nav to appear on the same line */
	  list-style: none; /* Eliminates all the bullet points */
	  margin-right: 60px; /*Provides a gap petween each list item */
	  text-align: center;
	  font-family: 'Gaegu', cursive;
	  font-size: 40px;
  }

.nav li a {
	text-decoration: none;
	color: black;
}


